@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .aspect-w-16 {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .aspect-h-9 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}